<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Les Amis - Reservas Vuelo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ml-auto">
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservavuelo"><i class="far fa-list-alt"></i> Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/reservavuelo/nuevo"><i class="fas fa-plus-circle"></i> Nueva Reserva Vuelo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/menu-admin"><i class="fa-solid fa-backward"></i> Volver</a>
        </li>
        
      </ul>
    </div>
  </nav>
  
  
  <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Cliente</th>     
          <th scope="col">NumVuelo</th>   
          <th scope="col">Clase</th>   
          <th scope="col">CodSucursal</th>  
          <th scope="col">Ver</th>
          <!-- <th scope="col">Editar</th> -->
          <th scope="col">Borrar</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservavuelo of reservasVuelo">
          <td>{{reservavuelo.id}}</td>
          <td>{{reservavuelo.usuario.nombre+" "+reservavuelo.usuario.apellido}}</td>
          <td>{{reservavuelo.vuelo.numeroDeVuelo}}</td>
          <td>{{reservavuelo.clase}}</td>
          <td>{{reservavuelo.sucursal.codigo}}</td>   
          <td><button class="btn btn-outline-primary" routerLink="/reservavuelo/detalle/{{reservavuelo.id}}"><i class="far fa-eye"></i>Ver</button></td>
          <!-- <td><button class="btn btn-outline-warning" routerLink="/hotel/editar/{{reservavuelo.id}}"><i class="far fa-edit"></i>Editar</button></td>         -->
          <td><button class="btn btn-outline-danger" (click)="borrar(reservavuelo)"><i class="far fa-trash-alt"></i>Eliminar</button></td>
        </tr>
      </tbody>
    </table>
