<app-header></app-header>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h1 class="text-center">Registro de Reserva Vuelos</h1>
        <form (ngSubmit)="crear()" novalidate #f="ngForm">

            <div class="form-group">             
                <label for="clase">Clase</label>
                <p></p>        
                <select type="text" class="form" id= "clase" name="clase" [(ngModel)]="clase" required>
                    <option [value]="item" *ngFor="let item of clases">{{item}}</option>
                </select>       
            </div>            
            <div class="form-group">             
                <label for="usuario">Cliente</label>
                <p></p>                 
                <select name="usuario" [(ngModel)]="idUsuario">
                    <option [ngValue]="objeto.id" *ngFor="let objeto of usuarios">{{objeto.nombre+" "+objeto.apellido}}</option>
                </select>                
            </div> 
            <div class="form-group">             
                <label for="vuelo">Vuelo</label>
                <p></p>                 
                <select name="vuelo" [(ngModel)]="idVuelo">
                    <option [ngValue]="objeto.id" *ngFor="let objeto of vuelos">{{"Origen: "+objeto.origen+" Destino:"+objeto.destino}}</option>
                </select>                
            </div>
            <div class="form-group">             
                <label for="idSucursal">Sucursal</label>
                <p></p>                 
                <select name="idSucursal" [(ngModel)]="idSucursal">
                    <option [ngValue]="objeto.id" *ngFor="let objeto of sucursales">{{objeto.codigo}}</option>
                </select>                
            </div>  

            <div class="text-center mt-3">
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
            </div>   
         
        </form>
    </div>
</div>
