<app-header></app-header>

<div class="container">
    <div class="row mt-5">
      <div class="col-md-4 mx-auto">
          <div class="card" style="width: 18rem;">
              <div class="card-header text-center">
            <h5 class="card-title">Menu Admin</h5>
              <form >            
                <div class="d-grid gap-2 mb-2">
                    <button class="btn btn-primary btn-lg" routerLink="/usuario"><i class="fa-solid fa-users"></i>  Usuarios</button>
                </div>  
                <div class="d-grid gap-2 mb-2">
                   <button class="btn btn-primary btn-lg" routerLink="/hotel"><i class="fa-solid fa-hotel"></i>  Hoteles</button>
                </div>
                <div class="d-grid gap-2 mb-2">
                    <button class="btn btn-primary btn-lg" routerLink="/vuelo"><i class="fa-solid fa-plane-departure"></i>   Vuelos</button>
                </div>
                <div class="d-grid gap-2 mb-2">
                    <button class="btn btn-primary btn-lg" routerLink=""><i class="fa-solid fa-book-atlas"></i>  Reservas Vuelos</button>
                </div>   
                <div class="d-grid gap-2 mb-2">
                    <button class="btn btn-primary btn-lg" routerLink=""><i class="fa-solid fa-book-atlas"></i>  Reservas Hoteles</button>
                </div>   
                <div class="d-grid gap-2 mb-2">
                    <button class="btn btn-primary btn-lg" routerLink=""><i class="fa-solid fa-building"></i>  Sucursales</button>
                </div>
                <div class="d-grid gap-2 mb-2">
                    <button class="btn btn-secondary btn-lg btn-block" routerLink="/login/check"><i class="fa-solid fa-person-to-door"></i>  Logout</button>
                </div>                 
                
              </form>
          </div>
    </div>
  </div> 
