<app-header></app-header>

<div class="container" *ngIf= "sucursal">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h1 class="text-center">Edición de Sucursal</h1>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group mt-3">     
                    <label for="codigo">Codigo</label>
                    <input type="text" class="form-control" id= "codigo" name="codigo"
                    [(ngModel)]="sucursal.codigo" required>
            </div>
            <div class="form-group">            
                    <label for="direccion">Direccion</label>
                    <input type="text" class="form-control" id= "direccion" name="direccion"
                    [(ngModel)]="sucursal.direccion" required>           
            </div>           
            <div class="form-group">            
                    <label for="telefono">Telefono</label>
                    <input type="number" class="form-control" id= "telefono" name="telefono"
                    [(ngModel)]="sucursal.telefono" required>           
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Editar</button>
            </div>            
        </form>
    </div>
</div>

