<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand " >  Les Amis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ml-auto">
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuario"><i class="far fa-list-alt"></i> Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/usuario/nuevo"><i class="fas fa-plus-circle"></i> Nuevo Usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  (click)="volver()" ><i class="fa-solid fa-backward"></i> Volver</a>
        </li>
        
      </ul>
    </div>
  </nav>
  
  
  
  <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Usuario</th>  
          <th scope="col">Nombre</th>     
          <th scope="col">Apellido</th>           
          <th scope="col">DNI</th>             
          <th scope="col">Telefono</th>   
          <th scope="col">Sucursal</th> 
          <th scope="col">Tipo</th>   
          <th scope="col">Ver</th>
          <th scope="col">Editar</th>
          <!-- <th scope="col">Borrar</th> -->
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.id}}</td>
          <td>{{usuario.usuario}}</td>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.apellido}}</td>
          <td>{{usuario.dni}}</td>
          <td>{{usuario.telefono}}</td>
          <td>{{usuario.sucursal}}</td>
          <td>{{usuario.tipo}}</td>      
          <td><button class="btn btn-outline-primary" routerLink="/usuario/detalle/{{usuario.id}}"><i class="far fa-eye"></i>Ver</button></td>
          <td><button class="btn btn-outline-warning" routerLink="/usuario/editar/{{usuario.id}}"><i class="far fa-edit"></i>Editar</button></td>        
          <!-- <td><button class="btn btn-outline-danger" (click)="borrar(usuario)"><i class="far fa-trash-alt"></i>Eliminar</button></td> -->
          <!-- tratar de que no aparezca el boton de eliminar para el admin -->
        </tr>
      </tbody>
    </table>
  