<app-header></app-header>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Les Amis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav ml-auto">
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="far fa-list-alt"></i> Lista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/nuevo"><i class="fas fa-plus-circle"></i> Nuevo Hotel</a>
      </li>
      
    </ul>
  </div>
</nav> -->
<p class=""></p>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>     
        <th scope="col">Direccion</th>   
        <th scope="col">Ciudad</th>   
        <th scope="col">Telefono</th>   
        <th scope="col">NumPlazas</th>   
        <th scope="col">PrecioPenCom</th>   
        <th scope="col">PrecioMedPen</th>   
        <th scope="col">Ver</th>
        <th scope="col">Editar</th>
        <th scope="col">Borrar</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of hoteles">
        <td>{{hotel.id}}</td>
        <td>{{hotel.nombre}}</td>
        <td>{{hotel.direccion}}</td>
        <td>{{hotel.ciudad}}</td>
        <td>{{hotel.telefono}}</td>
        <td>{{hotel.numeroDePlazas}}</td>
        <td>{{hotel.precioPensionCompleta}}</td>
        <td>{{hotel.precioMediaPension}}</td>      
        <td><button class="btn btn-outline-primary" routerLink="/detalle/{{hotel.id}}"><i class="far fa-eye"></i> Ver</button></td>
        <td><button class="btn btn-outline-warning" routerLink="/editar/{{hotel.id}}"><i class="far fa-edit"></i> Editar</button></td>
        <td><button class="btn btn-outline-danger" routerLink="/delete/{{hotel.id}}"><i class="far fa-trash-alt"></i> Borrar</button></td>
        
        <!-- <td><button class="btn btn-outline-danger" (click)="borrar(hotel.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>   -->
      </tr>
    </tbody>
  </table>
